  <div ng-controller="ImgCtrl">
    <div class="jumbotron">
      <h1>Search Flickr Tags</h1>

      <p class="lead">
        Enter in a tag below to search
      </p>


      <div class="btn-group">
        <input ng-blur="search()"  class="form-control frm-input" type="text" ng-model="searchTerm" />
        <button ng-click="search()" class="btn btn-large btn-success">SEARCH</button>
      </div>

      <div>
          <hr/>

        <div class="col-lg-12">
          <h4>Advanced Search</h4>
        </div>
        <div class="col-sm-4">
          <h4>Tag matching</h4>
        <select ng-blur="search()" ng-model="searchMatch" class="form-control">
          <option value="Any">Any</option>
          <option value="All">All</option>
        </select>
          <h4>Items Per page</h4>
          <select ng-blur="search()" ng-model="searchPerPage" class="form-control">
            <option value="100">100</option>
            <option value="250">250</option>
            <option value="500">500</option>
          </select>
        </div>

        <div class="col-sm-4">
          <h4>Date Range</h4>
          <input type="date" value="Date.Now()" ng-model="startDate"/>

        </div>


      </div>
    </div>


    <div class="row" ng-show="photoReturn.length > 0">
      <div class="col-xs-12">

        <div class="row">
          <div class="center-block" style="width: 70%; float: none;">
            <pagination total-items="totalPages" page="currentPage" max-size="10" on-select-page="nextPage()" class="pagination-lg" boundary-links="true"></pagination>
          </div>
        </div>

<!--
        <pagination total-items="totalPages" ng-model="currentPage" ng-change="nextPage()" max-size="paginationMaxSize" class="pagination-lg" boundary-links="true" rotate="false" num-pages="numberOfPages"></pagination>
-->
        <h2><i class="fa fa-picture-o"></i> Showing pictures for: <span class="text-success">{{searchTerm}}<span></h2>
        <div >
          <div ng-repeat="item in photoReturn" style="width: 270px; height: 270px; float:left; overflow: hidden;">
              <a href="https://farm{{item.farm}}.staticflickr.com/{{item.server}}/{{item.id}}_{{item.secret}}.jpg" target="_blank">
                <img ng-src="https://farm{{item.farm}}.staticflickr.com/{{item.server}}/{{item.id}}_{{item.secret}}.jpg" class="img-thumbnail" style="width: 260px; overflow: hidden; height:260px; background-repeat: no-repeat;">
              </a>
          </div>
        </div>

      </div>

    </div>

  </div>

